.App {
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00AAFF, #00FF6C)
  
}




main {
  height: 100vh;
  width: 100vw;
  display:flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

h3 { 
  margin: 0px !important;
}

.cal-wrapper {
  display: flex;
  width: 35%;
  max-width: 500px;
}

.cal-layout {
  flex-grow:1;
  background-color: white;
  width: 100%;
  height: 45%;
}

.result-layout {
  position: relative;
  padding: 1rem 0.5rem;
  text-align: end;
  word-break: break-all;
  min-height: 75px;
}

.result-layout > .result-content{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
}

.grid-layout {
  display: grid;
  
}

.grid-layout > button {
  border: 1px solid white;
  height: 70px;
  font-size: 2rem;
  cursor: pointer;
}


